.imagem01
{ 
    transition: all 2s;
    cursor: pointer;
}

.imagem01:hover
{   
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.imagem02
{   
    transition: all 0.5s;
    cursor: pointer;
}

.imagem02:hover
{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.imagem03
{   transition: all 0.5s;
    cursor: pointer;
}
.imagem03:hover
{
    -webkit-filter: drop-shadow( 15px 10px 18px rgba(0,0,0,5));
    filter: drop-shadow(15px 10px 5px) rgba(0,0,0,5);
}
